<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" th:content="${'观看'+title}"/>
    <meta name="keywords" th:content="${'观看'+title}"/>

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

    <title th:text="${'观看'+title}"></title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
        #if1{
            border: 1px solid gray;
            width: 100%;
            height: 700px;
            border-radius: 2px;
        }
        @media screen and (max-width: 600px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
            #if1{
                border: 1px solid gray;
                width: 100%;
                height: 300px;
                border-radius: 2px;
            }
        }
    </style>

    <script>

    </script>

</head>

<body>

<div class="container">

    <h2 th:text="${title}" style="margin-top: 20px;"></h2>
    <div style="margin: 11px 0px;color: gray;">
        来源有<span th:text="${lineNum}"></span>个线路，无法播放时，可切换线路。
    </div>

    <iframe id="if1" src=""></iframe>

    <div th:each="mapitem : ${mapmy}" th:id="${mapitem.getKey()}" style="margin: 20px 0;">
        <div th:text="${mapitem.getKey()}" style="font-weight: bold;color: red;"></div>
        <div th:each="item : ${mapitem.getValue()}"
             style='display:inline-block;border:1px solid gray;margin:10px auto 0;;padding:5px;border: .0625rem solid #d6d6d6;border-radius: .1875rem;'>
            <div>
                <div th:text="${item.jiName}"></div>
                <div th:if="${(item.trueSrc==null || item.trueSrc=='') && (item.firstSrc==null || item.firstSrc == '')}">
                    暂无地址
                </div>
                <a th:if="${item.trueSrc!=null && item.trueSrc!=''}" href="javascript:void(0)" th:a="${item.trueSrc}"
                   target="_blank" style="margin-right:20px;">地址</a>
                <a th:if="${item.firstSrc!=null && item.firstSrc!=''}" href="javascript:void(0)" th:a="${item.firstSrc}"
                   target="_blank">备用地址</a>
            </div>

        </div>
    </div>

</div>


<script>
    // function hideimg(){
    //     console.log("hideimg");
    //     $("img").remove();
    //
    // }
    // setInterval(hideimg,1000);
    $("a").click(function () {
        var val = $(this).attr("a");
        console.log(val);
        $("#if1").attr('src', val);
    });

    var aEle = $("body").find("a").first();
    if (aEle != null) {
        var val = $(aEle).attr("a");
        $("#if1").attr('src', val);
    }else{
        alert("目前没有可播放的地址");
    }
</script>

</body>


</html>