<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SQBER的博客,Java资源" />
	<meta name="keywords" content="SQBER的博客,sqber,Java资源,Java" />
		
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />    
				
    <title>新增</title>
    
    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/third/editor.md/css/editormd.preview.css" />
     <style>            
            .editormd-html-preview {
                width: 90%;
                margin: 0 auto;
            }
      </style>
</head>

<body>
	
	<div>
  		<div id="editormd">
            <textarea style="display:none;" th:text="${content}"></textarea>
        </div>
	</div>
	
</body>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/third/editor.md/lib/marked.min.js"></script>
<script src="/third/editor.md/lib/prettify.min.js"></script>

<script src="/third/editor.md/lib/raphael.min.js"></script>
<script src="/third/editor.md/lib/underscore.min.js"></script>
<script src="/third/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/third/editor.md/lib/flowchart.min.js"></script>
<script src="/third/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="/third/editor.md/editormd.min.js"></script>

<script type="text/javascript">
	var testEditor;
    $(function() {
    	testEditor = editormd.markdownToHTML("editormd", {
            htmlDecode  : "style,script,iframe",  // you can filter tags decode
            emoji : false,
            taskList : true,
            tocm : true,  // Using [TOCM]  
            tex : true,  // 默认不解析
            flowChart  : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
    });
</script>

</html>