<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
	<div th:fragment="login-info">
		<span sec:authorize="isAuthenticated()"> 当前用户: <span
			sec:authentication="name"></span> | <a href="javascript:document.formLogout.submit();">退出系统</a>

			<form name="formLogout" th:action="@{/logout}" method="post"></form>

		</span> 
		<span sec:authorize="!isAuthenticated()"> <a
			th:href="@{/account/login}">登录</a>
		</span>
	</div>
</body>
</html>
